# Python
__pycache__/
*.py[cod]

# Virtual Environments
.venv/
venv/
env/

# PyInstaller / Build
build/
dist/
*.spec

# VS Code & IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Plot-Ausgaben
data/plots/*.png
data/plots/*.jpg

# Excel-Tempdateien
~$*.xlsx